{# redis.service.j2 #}
[Unit]
Description=Redis Datastore Server
After=network.target

[Service]
ExecStart=/usr/local/bin/redis-server /etc/redis/redis.conf
ExecStop=/usr/local/bin/redis-cli shutdown
PIDFile=/var/run/redis/redis-server.pid
Restart=always
User=redis
Group=redis

[Install]
WantedBy=multi-user.target
Alias=redis.service
