{# my.cnf.j2 #}
[mysqld]
basedir = /usr/local/mysql
datadir = /usr/local/mysql/data
socket = /tmp/mysql.sock
user = mysql
bind_address = 0.0.0.0
port = 3306
pid_file = /usr/local/mysql/data/mysqld.pid

# General Log
general_log = ON
general_log_file = /usr/local/mysql/data/general.log

# Error Log
log_error_verbosity = 1
log_error = /usr/local/mysql/data/error.log

# Slow Query Log
slow_query_log = ON
long_query_time = 5
slow_query_log_file = /usr/local/mysql/data/slow-query.log

#skip_grant_tables = FALSE
symbolic_links = FALSE
skip_name_resolve = TRUE

server_id = 1
binlog_format = ROW
log_bin = /usr/local/mysql/data/mysql-bin
sync_binlog = 1
relay_log = /usr/local/mysql/data/relay.log
#relay_log_index = /usr/local/mysql/data/relay.log.index
relay_log_purge = ON
expire_logs_days = 7
log_slave_updates = ON

[client]
port = 3306
socket = /tmp/mysql.sock
